<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59330942452-9d2tlsr9l966ktvach3n4dd85mb8s9eb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59330942452-9d2tlsr9l966ktvach3n4dd85mb8s9eb</string>
	<key>API_KEY</key>
	<string>AIzaSyCOJ0B30p3NiWHcK-faJIGlqD4H3M1YyjA</string>
	<key>GCM_SENDER_ID</key>
	<string>59330942452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idea.ideaTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ideaapp-a4663</string>
	<key>STORAGE_BUCKET</key>
	<string>ideaapp-a4663.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59330942452:ios:8b10b55e8a644d8d3095a1</string>
</dict>
</plist>